*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;    
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.ebuy {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}
.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    }
.navigation a:hover,
.navigation a.active {

    background: #359381;
    color: #fff;
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text {
    position: absolute;
    font-size: 5.5em;
    color:black;
    align-items: flex-end;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,.2);
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    }
.sec h2 {
    font-size: 3em;
    color:#fff;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1.3em;
    color:#fff;
    font-weight: 300;
} 
.sec h4 {
    font-size: 1.6em;
    color:#fff;
    margin-bottom: 10px;
}
footer {
    background-color:rgb(6, 78, 66);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}