body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ebe6;
}
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}.swing img{
    border: 5px solid #ce730c;
    display: block;
}
.swing::after{
    content: '';
    position: absolute;
    width: 20px; height: 20px;
    border: 1px solid #999999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
.swing::before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
@keyframes swing {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}
header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
h2 {
    color: #151313;
}
h3 {
    color: #151313;
}

nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    width: 300px;
    text-align: center;
}

button {
    background-color: #080808;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}
footer {
    background-color:rgb(11, 11, 11);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
